.product_wrap {
  width: 100%;
  margin-top: 20px;
  .title {
    width: fit-content;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    color: var(--title_color);
    @include justify-content-between;
    cursor: pointer;
    margin: 20px 0;
    @media (max-width: 600px) {
      margin: 10px 0;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .item_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    @media (max-width: 900px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1rem;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }
    .item {
      padding: 5px;
      border: 1px solid var(--body_color);
      border-radius: var(--product-border-radius);
      .img_wrap {
        width: 100%;
        position: relative;
        height: 200px;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 600px) {
          height: 150px;
          margin-bottom: 10px;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .is_discount {
          position: absolute;
          color: #175cd3;
          font-size: 14px;
          font-weight: 500;
          z-index: 2;
          padding: 6px;
          border-radius: 10px;
          top: 0px;
          left: 0px;
          background-color: var(--button_hover);
          @media (max-width: 600px) {
            font-size: 12px;
            font-weight: 500;
            z-index: 2;
            padding: 4px 6px;
            border-radius: 10px;
          }
        }
      }
      .item_text_wrap {
        padding: 10px;
        @media (max-width: 600px) {
          padding: 5px;
        }
        .title_item {
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
          color: var(--title_color);
          @media (max-width: 600px) {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
          }
        }
        .old_price {
          text-decoration-line: line-through;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          color: #718094;
        }
        .real_price {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          color: var(--title_color);
        }
        .btn{
          width: 100%;
          background-color: var(--button_color);
          margin-top: 10px;
          color: white;
        }
      }
    }
  }
}
