* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --text_color: #344054;
  --title_color:#102A56;
  --body_color: #edf0f5;
  --border-radius:18px; 
  --product-border-radius:10px;
  --button_color:#2E90FA;
  --button_hover:#D1E9FF;
 
}
body {
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
