.header {
  background-color: #fff;
  width: 100%;
  height: 70px;
  border-bottom:  1px solid var(--body_color);

  @include element-center;
  h2{
    font-size: 20px;
    font-weight: bold;
    color: var(--ttile_color)
  }
  nav{
  @include element-center;
  @media (max-width:600px) {
    display: none;
  }
  margin-left: 60px;
  ul{
    @include element-center;
    gap: 10px;

    li{
      list-style-type: none;
      .link{
         padding: 10px 20px;
         border-radius: 10px;
         font-size: 16px;
         transition: all .2s ease-in-out;
        color: var(--text_color);
         font-weight: 600;
         &:hover{
          background-color: var(--button_hover);
          transition: all .2s ease-in-out;
          color: var(--button_color);
         }
         @media (max-width:700px) {
          padding: 7px 10px;

        }
      } 
    }
  }
  }
  .btn{
    background-color: var( --button_color);
    color: #fff;
  }
}
