.banner_wrap {
  width: 100%;
  height: auto;
  margin-top: 30px;
  border-radius: var(--border-radius);
  overflow: hidden;
  @media (max-width: 700px) {
    margin-top: 15px;
    border-radius: 8px;

  }
  div {
    display: flex;
    align-items: center;
    img {
      object-fit: contain;
    }
  }
}
